<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<body>
<div class="ui container">
    <h1 style="margin-top: .5em;">Serious tests</h1>
    <div class="ui button primary" id="btn" onclick="$('#modal').modal('show')">show</div>

    <div id="modal" class="ui tiny modal">
        <i class="close icon"></i>
        <div class="header">Provide an email address and confirm your password</div>
        <div class="actions">
            <div class="ui positive button">
                ok
            </div>
        </div>
    </div>
</div>


</body>
</html>