{% extends "SPA-layout.html"%}

{%block loginbar%}

<span id="div-login-bar" style="float: right; vertical-align: center; display: none">

    <div id="name-div" class="ui left icon input">
        <i class="user icon"></i>
        <input id="name" type="text" autocomplete="off" placeholder="username">
    </div>

    <div id="password-div" class="ui  left icon input" style="margin-right: .5em;">
        <i class="lock icon"></i>
        <input id="password" type="password" autocomplete="off" placeholder="password">
    </div>


    <div class="ui button positive" id="btn login" onclick="login(false)"> login</div>
    <div class="ui button secondary" onclick="login(true)">register</div>
    <div class="ui disabled button primary">play as guest</div>
</span>

<div class="ui left labeled right floated button" id="div-logout-btn" tabindex="0">
    <a class="ui basic label" id="label-logout" onclick="account()">
        <i class="icon user"></i>
    </a>
    <div class="ui icon button secondary" onclick="logout()">
        logout
    </div>
</div>


<!--<div class="ui huge label" id="reg-success-label" style="display: none">-->
<!--    Registration successful!-->
<!--</div>-->

<!--MODALS    -->

<div id="modal-namenotfound" class="ui mini modal">
    <div class="header">Login failed</div>
    <div class="content">
        Username not registered
    </div>
    <div class="actions">
        <div class="ui black deny button">
            ok
        </div>
    </div>
</div>

<div id="modal-invalidpw" class="ui mini modal">
    <div class="header">Choose your Avatar</div>
    <div class="content">
        Nothing
    </div>
    <div class="actions">
        <div class="ui black deny button">
            ok
        </div>
    </div>
</div>

<div id="modal-nametaken" class="ui mini modal">
    <div class="header">Account creation failed</div>
    <div class="content">
        Username already taken
    </div>
    <div class="actions">
        <div class="ui black deny button">
            ok
        </div>
    </div>
</div>

<div id="modal-register" class="ui tiny modal">
    <i class="close icon"></i>
    <div class="header">Provide an email address and confirm your password</div>
    <div class="content">
        <form class="ui form">
            <div class="field" id="field-email">
                <input type="text" id="input-email" placeholder="email">
            </div>
            <div class="field" id="field-password2">
                <input type="password" id="input-password2" placeholder="password">
            </div>
            <div class="field" id="field-tc">
                <div class="ui checkbox" id="div-tc">
                    <input type="checkbox" tabindex="0" id="input-tc">
                    <label id="text-tc">I agree to the <a href="/terms" target="_blank">Terms and
                        Conditions.</a></label>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button">
            confirm registration
        </div>
    </div>
</div>


<div id="modal-choose-avatar" class="ui mini modal">
    <div class="header">Choose your Avatar</div>
    <div class="content">
        <div class="btn-toolbar" role="toolbar" id="list-default-avatars">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            ok
        </div>
    </div>
</div>

    <style>
        .avatar {
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 10%;
        }
    </style>

<script>

    function account() {
        const response = $.ajax({
            url: "/change_avatar/",
            type: "POST",
            success: function () {
                var default_avatars = document.getElementById("list-default-avatars")
                default_avatars.innerHTML = ""
                $('#modal-choose-avatar').modal("show");

                response.responseJSON["default_avatars"].forEach(
                    avatar_name => {
                        default_avatar_HTML =
                            '<button type="button" class="btn btn-primary" onclick="set_avatar(\'' + avatar_name + '\')">' +
                            '<img src="avatar/' + avatar_name + '"alt="Avatar" class="avatar">' +
                            '</button>'
                        default_avatars.innerHTML += default_avatar_HTML
                    }
                )
            },
            error: function () {
                console.log(send.responseJSON)
            }
        });
    }

    function set_avatar(avatar_name) {
        const token = window.localStorage.getItem("RPAtoken")
        $.ajax({
            url: "/myavatar/" + avatar_name,
            type: "PUT",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            success: function () {
                console.log("Chose avatar: " + avatar_name + " in account settings.")
            },
            error: function () {
                console.log(send.responseJSON)
            }
        })
    }


    document.getElementById("name").addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("btn login").click();
        } else
            document.getElementById("name-div").classList.remove('error');
    });

    document.getElementById("password").addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("btn login").click();
        } else
            document.getElementById("password-div").classList.remove('error');
    });

    document.getElementById("input-password2").addEventListener("keyup", function (event) {
        document.getElementById("field-password2").classList.remove('error');
    });

    document.getElementById("input-email").addEventListener("keyup", function (event) {
        document.getElementById("field-email").classList.remove('error');
    });

    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }


    function login(register_attempt) {

        document.getElementById("input-tc").checked = false
        document.getElementById("input-password2").value = ""
        document.getElementById("input-email").value = ""
        document.getElementById("field-password2").classList.remove('error');
        document.getElementById("field-email").classList.remove('error');
        const name = document.getElementById("name").value
        const password = document.getElementById("password").value
        if (name == "") {
            document.getElementById("name-div").classList.add('error');
        }
        if (password == "") {
            document.getElementById("password-div").classList.add('error');
        }
        if (name != "" && password != "") {
            console.log("name and password given")
            const data = {
                username: name,
                password: password
            }
            const response = $.get("/check_user/" + name, function () {
                console.log("asked for existence of account " + name)
                const exists = (response.responseJSON["exists"])

                if (exists && !register_attempt) {

                    const response = $.ajax({
                        url: "/token",
                        type: "POST",
                        data: {"username": name, "password": password},
                        dataType: 'json',
                        success: function () {
                            const token = response.responseJSON["access_token"]
                            console.log("successful login attempt")
                            window.localStorage.setItem("RPAtoken", token);
                            authorize()
                            //window.location.replace("/dashboard")
                        },
                        error: function () {
                            $('#modal-invalidpw').modal('show');
                        }
                    });
                }
                if (!exists && !register_attempt) {
                    $('#modal-namenotfound').modal('show');
                }
                if (exists && register_attempt) {
                    $('#modal-nametaken').modal('show');
                }
                if (!exists && register_attempt) {
                    var success = false
                    console.log("trying to register " + name)
                    $('#modal-register').modal({
                        onApprove: function () {
                            const password2 = document.getElementById("input-password2").value
                            const email = document.getElementById("input-email").value
                            console.log(password, password2, email)

                            const valid_email = validateEmail(email)
                            const tc_checked = document.getElementById("input-tc").checked
                            console.log("checkbox: " + tc_checked)
                            if (password == password2 && valid_email && tc_checked) {
                                const data = {
                                    username: name,
                                    password: password,
                                    email: email
                                }

                                const response = $.ajax({
                                    url: "/register",
                                    type: "POST",
                                    data: JSON.stringify(data),
                                    dataType: 'json',
                                    success: function () {
                                        console.log("successful registration") //TODO better feedback, at some point even send email with registration confirmation and password.
                                        console.log("getting token for" +name+", "+ password)
                                        const response = $.ajax({
                                            url: "/token",
                                            type: "POST",
                                            data: {"username": name, "password": password},
                                            dataType: 'json',
                                            success: function () {
                                                const token = response.responseJSON["access_token"]
                                                console.log("successful login attempt")
                                                window.localStorage.setItem("RPAtoken", token);
                                                authorize()
                                                $('#modal-register').modal('hide').modal('hide dimmer');
                                            },
                                            error: function () {
                                                console.log("something went wrong authorizing after succesful registration")
                                            }
                                        });
                                        return true
                                    },
                                    error: function () {
                                        console.log("something went wrong registering this guy")
                                    }
                                });


                            }
                            if (password != password2) {
                                document.getElementById("field-password2").classList.add('error');
                            }

                            if (!valid_email) {
                                document.getElementById("field-email").classList.add('error');
                            }

                            if (!tc_checked) {
                                document.getElementById("text-tc").style.textDecoration = "underline"
                            }

                            return success;
                        }
                    }).modal('show');
                }
            })

        }

    }


</script>

{%endblock%}