{% extends "SPA-loginbar.html"%}

{%block dashboard%}
<script>

    let loggedIn    //are these useful?
    let username

    let gameCreateButtons = []
    let gameColors = []

    let currentGames = {}       // array of Game_Responses

    let rps_move = -1
    let rps_id

    getGames()


    function getGames() {
        const allGamesGET = $.ajax({
            url: "/games",
            type: "GET",
            success: function () {
                let games = allGamesGET.responseJSON
                let games_list = document.getElementById("list-games");
                for (var i = 0; i < games.length; i++) {
                    const x = games[i][0]
                    if (games[i][2] == true) {
                        gameCreateButtons.push(x)
                        gameColors.push(games[i][1])
                    }
                    var btnHTML = '<div class="item"><button id="btn-' + x + '" class="ui ' + games[i][1]
                        + ' disabled button" style="opacity: 1;" onclick="create(\'' + x + '\')">' + x
                        + '</button></div>'
                    games_list.innerHTML += btnHTML


                }
                authorize()
            },
            error: function () {
                console.log("cant even get games.")
                logout()
            }

        });
    }

    function logout() {
        window.localStorage.removeItem("RPAtoken")
        document.getElementById("div-logout-btn").style.display = "none"
        document.getElementById("div-login-bar").style.display = "block"
        document.getElementById("list-messages").innerHTML = ""
        document.getElementById("list-current-games").innerHTML = ""
        document.getElementById("btn-newmessage").classList.add("disabled")
        document.getElementById("name").value = ""
        document.getElementById("password").value = ""
        // TODO disable create buttons
        //console.log(gameCreateButtons)
        gameCreateButtons.forEach(disable_create_button);

        username = ""
        loggedIn = false
        currentGames = {}
    }


    function authorize() {
        console.log("authorize called")
        const token = window.localStorage.getItem("RPAtoken")
        const user = $.ajax({
            url: "/me",
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            success: function () {
                console.log("authorized, hiding loginbar, showing logout button")
                loggedIn = true
                document.getElementById("div-login-bar").style.display = "none"
                username = user.responseJSON["username"]
                document.getElementById('label-logout').innerHTML = "<i class=\"icon user\"></i>" + username
                document.getElementById("div-logout-btn").style.display = ""
                document.getElementById("btn-newmessage").classList.remove("disabled")


                getMyRecentMessages()
                getMyCurrentGames()
                gameCreateButtons.forEach(enable_create_button);
            },
            error: function () {
                console.log("no authorization")
                logout()
            }
        });
    }

    function getRps(rps_id) {
        const token = window.localStorage.getItem("RPAtoken")
        const rpsGET = $.ajax({
            url: "/myrps",
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            data: {"id": rps_id},
            success: function () {
                let responseJSON = rpsGET.responseJSON
                console.log(responseJSON)
                currentGames[rps_id] = responseJSON
                console.log(currentGames)
                configure_rps_view(rps_id)
            },
            error: function () {

            }
        })
    }

    function getMyCurrentGames() {
        const token = window.localStorage.getItem("RPAtoken")
        const myGamesGET = $.ajax({
            url: "/myCurrentGames",
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            success: function () {
                let gamesJSON = myGamesGET.responseJSON
                for (let i in gamesJSON) {
                    currentGames[gamesJSON[i]["id"]] = gamesJSON[i]
                }
                console.log(currentGames)
                let current_games_list = document.getElementById("list-current-games")
                current_games_list.innerHTML = ""
                for (let i = 0; i < gamesJSON.length; i++) {
                    let border = ""
                    if (gamesJSON[i]["has_moved_me"]) {
                        border += "green"
                    }
                    if (gamesJSON[i]["has_moved_opponent"]) {
                        border += "red"
                    }
                    let btnHTML = '<div class="item"><div class="ui left labeled button"><a class="ui blue label" onclick="showRPS(' + gamesJSON[i]["id"] + ')">'
                        + gamesJSON[i]["my_score"] + ' - ' + gamesJSON[i]["opponent_score"] + '</a><div class="ui basic ' + border + ' icon button" onclick="showRPS(' + gamesJSON[i]["id"] + ')">vs. '
                        + gamesJSON[i]["opponent"]
                        + '</div></div></div>'

                    current_games_list.innerHTML += btnHTML
                }


            },
            error: function () {

            }
        })

    }

    function getMyRecentMessages() {
        const token = window.localStorage.getItem("RPAtoken")
        const mymessagesGET = $.ajax({
            url: "/myrecentmessages",
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            success: function () {
                console.log("fetching recent messages")
                let msg_list = document.getElementById("list-messages")
                const messages = mymessagesGET.responseJSON
                let max = messages.length - 5;
                if (max < 0)
                    max = 0
                for (let i = messages.length - 1; i >= max; i--) {
                    //await new Promise(r => setTimeout(r, 2000));
                    let current = messages[i]
                    let prettyDate = dateConvert(current["date"])

                    if (current["content"].length > 140) {
                        current["content"] = current["content"].substr(0, 140)
                        current["content"] += " ..."        // TODO probably make the dots into a link that shows the full message or something like that
                    }

                    var msgHTML = '<div class="comment"><a class="avatar">\n' +
                        '                        <img src="avatar/' + current["sender_avatar"] + '" alt="">\n' +
                        '                    </a><div class="content">\n' +
                        '                        <a class="author">' + current["sender"] + '</a><div class="metadata">\n' +
                        '                            <span class="date">' + prettyDate + '</span>\n' +
                        '                        </div><div class="text">' + current["content"] + '</div><div class="actions" onclick="reply(\'' + current["sender"] + '\')">\n' +
                        '                            <a class="reply">Reply</a>\n' +
                        '                        </div></div>'
                    msg_list.innerHTML += msgHTML
                }
            }

        });

    }

    function disable_create_button(game) {
        console.log("disabling " + game)
        document.getElementById("btn-" + game).classList.add("disabled")
    }

    function enable_create_button(game) {
        console.log("enable " + game)
        document.getElementById("btn-" + game).classList.remove("disabled")
    }

    function configure_rps_view(id) {
        document.getElementById("rps-opponent").innerHTML = ""
        document.getElementById("rps-me").innerHTML = ""
        document.getElementById("rps-score").innerHTML = ""
        rps_id = id
        rps_move = -1
        document.getElementById('btn-shoot').classList.add('disabled')
        document.getElementById('btn-shoot').innerHTML = "Shoot"
        //cleanup

        let game = currentGames[id]

        console.log(game)

        if (!game["has_moved_opponent"]) {
            document.getElementById('btn-shoot-opp').classList.add('loading')
            if (game["has_moved_me"]) {
                //TODO write waiting somewhere
            }
        } else {
            document.getElementById('btn-shoot-opp').classList.remove('loading')
        }

        if (game["has_moved_me"]) {
            document.getElementById("btn-0").classList.add('disabled')
            document.getElementById("btn-1").classList.add('disabled')
            document.getElementById("btn-2").classList.add('disabled')
            document.getElementById('btn-shoot').innerHTML = '<i class=\"check icon\"></i>'
        } else {
            document.getElementById("btn-0").classList.remove('disabled')
            document.getElementById("btn-1").classList.remove('disabled')
            document.getElementById("btn-2").classList.remove('disabled')
        }


        const meHTML = '<img src="avatar/' + game["my_avatar"] + '" alt=""> <text>&nbsp; ' + game["me"] + '</text>'
        document.getElementById("rps-me").innerHTML += meHTML

        const oppHTML = '<text>&nbsp; ' + game["opponent"] + '</text> <img src="avatar/' + game["opponent_avatar"] + '" alt=""> '
        document.getElementById("rps-opponent").innerHTML += oppHTML

        let scoreHTML = ''
        if (game["goal"] < 9) {
            for (let i = 0; i < game["goal"] + game["goal"] - 1; i++) {
                if (i < game["my_score"]) {
                    scoreHTML += '<button class="ui circular huge green icon button"> </button>'
                } else if (i >= 2 * game["goal"] - game["opponent_score"] - 1) {
                    scoreHTML += '<button class="ui circular huge red icon button"> </button>'
                } else if (i == game["goal"] - 1) {
                    scoreHTML += '<button class="ui circular huge black basic icon button"> <i class="icon trophy"></i>' +
                        '</button>'
                } else {
                    scoreHTML += '<button class="ui circular huge black basic icon button"> </button>'
                }

            }
        } else {
            scoreHTML += game["my_score"] + " - " + game["opponent_score"]
        }
        document.getElementById("rps-score").innerHTML += scoreHTML

        document.getElementById("rps-info").innerHTML = "RPS game #"+ game.id+"<br>last active: "+dateConvert(game.last_activity)+"<br>created: " + dateConvert(game.date_created)


    }

    function showRPS(id) {
        console.log("show rps# " + id)
        configure_rps_view(id)
        $('#modal-RPS').modal('show')
    }

    function reply(name) {
        document.getElementById("field-recipient").classList.remove('error')
        document.getElementById("input-recipient").value = name
        document.getElementById("input-message").value = ""
        $('#modal-newmessage').modal('show')
        $("#input-message").focus(); // TODO after this is executed, focus jumps back to the recipient field. why?
    }

    function dateConvert(datetime) {
        //console.log(datetime)
        let prettyDate = ""
        for (let i = 11; i < 16; i++)
            prettyDate += datetime[i]
        prettyDate += " on "
        prettyDate += datetime[5]
        prettyDate += datetime[6]
        prettyDate += "/"
        prettyDate += datetime[8]
        prettyDate += datetime[9]
        prettyDate += "/"
        prettyDate += datetime[2]
        prettyDate += datetime[3]
        return prettyDate
    }

    //TODO
    function create(game) {
        console.log("create ", game)
        if (game == "Rock Paper Scissors") {
            $('#modal-newrps').modal('show')
        }
    }

    function send() {
        const recipient = document.getElementById("input-recipient").value
        const content = document.getElementById("input-message").value
        const token = window.localStorage.getItem("RPAtoken")
        const send = $.ajax({
            url: "/send/",
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            contentType: 'application/json',
            data: JSON.stringify({"recipient": recipient, "content": content}),
            dataType: 'json',
            success: function () {
                console.log("sent successfully")
                document.getElementById("field-recipient").classList.remove('error')
                document.getElementById("input-recipient").value = ""
                document.getElementById("input-message").value = ""
                $('#modal-newmessage').modal('hide').modal('hide dimmer');
            },
            error: function () {
                //  general error handling ala oops something went wrong
                console.log(send.responseJSON)
                document.getElementById("field-recipient").classList.add('error')
                //document.getElementById("input-recipient").setAttribute("data-content", "popup")
            }
        });
    }

    function play_rps() {
        console.log("playing " + rps_move + " in game#" + rps_id)
        const token = window.localStorage.getItem("RPAtoken")
        const play = $.ajax({
            url: "/playRPS/",
            type: "put",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer " + token);
            },
            contentType: 'application/json',
            data: JSON.stringify({"game_id": rps_id, "move": rps_move}),
            dataType: 'json',
            success: function () {
                console.log("success committing move")
                getRps(rps_id)
                getMyCurrentGames()

            },
            error: function () {
                //  general error handling ala oops something went wrong
                console.log(play.responseJSON)
            }
        });

    }

</script>

<h2>Dashboard </h2>

<hr>

<div class="ui grid">
    <div class="left floated four wide column">
        <h3 class="ui dividing header">create game</h3>
        <div class="ui list" id="list-games">
        </div>

    </div>

    <div class="four wide column">
        <h3 class="ui dividing header">open challenges</h3>
    </div>

    <div class="four wide column">
        <h3 class="ui dividing header">your current games</h3>
        <div class="ui list" id="list-current-games">
        </div>
    </div>

    <div class="right floated four wide column">
        <div class="ui comments">
            <h3 class="ui dividing header">Recent private messages</h3>
            <div id="list-messages">
            </div>
        </div>
    </div>
</div>

<hr>


<div class="ui grid">
    <div class="left floated four wide column">
        <button class="ui icon button">
            <i class="hand rock outline icon"></i><br>
        </button>
        <button class="ui icon button">
            <i class="hand paper outline icon"></i><br>
        </button>
        <button class="ui icon button">
            <i class="hand scissors icon outline"></i>
        </button>
    </div>
    <div class="right floated four wide column">
        <button class="ui labeled icon button" id="btn-newmessage" onclick="$('#modal-newmessage').modal('show');">
            <i class="paper plane outline icon"></i>
            new message
        </button>

    </div>

</div>

<div id="modal-newmessage" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Compose message</div>
    <div class="content">
        <form class="ui form">
            <div class="field" id="field-recipient">
                <input type="text" id="input-recipient" placeholder="Recipient">
            </div>
            <div class="field">
                <textarea rows="4" placeholder="Your message" id="input-message"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui labeled icon button" id="btn-msg" onclick="send()">
            <i class="paper plane outline icon"></i>
            send
        </button>
    </div>
</div>


<div id="modal-newrps" class="ui tiny modal">
    <i class="close icon"></i>
    <div class="header">Choose opponent</div>

    <div class="content">
        <form class="ui form">
            <div class="field" id="field-rps-opp">
                <input type="text" id="input-rps-opp" placeholder="Opponent">
            </div>
            <div class="field">
                <textarea rows="4" placeholder="attach a message to your challenge!" id="input-rps-message"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui dropdown">
            <div class="text">First to...</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
            </div>
        </div>
        <button class="ui labeled icon primary button" id="btn-rps-send" onclick="">
            <i class="paper plane outline icon"></i>
            post challenge
        </button>
    </div>
</div>


<div id="modal-RPS" class="ui large modal">
    <i class="close icon"></i>
    <div class="header">
        <div class="ui grid">
            <div class="three wide column" id="rps-me">
            </div>

            <div class="center aligned ten wide column" id="rps-score">

            </div>

            <div class="right aligned three wide column" id="rps-opponent">
            </div>
        </div>
    </div>

    <div class="content">
        <div class="ui two columns divided grid">
            <div class="row">
                <div class="column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="center aligned column">
                                <button class="ui button"
                                        onclick="rps_move = 0; document.getElementById('btn-shoot').classList.remove('disabled')"
                                        id="btn-0">
                                    Rock
                                </button>
                                <button class="ui button"
                                        onclick="rps_move = 1; document.getElementById('btn-shoot').classList.remove('disabled')"
                                        id="btn-1">
                                    Paper
                                </button>
                                <button class="ui button"
                                        onclick="rps_move = 2; document.getElementById('btn-shoot').classList.remove('disabled')"
                                        id="btn-2">
                                    Scissors
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right aligned column">
                                <button class="ui primary disabled button" id="btn-shoot" onclick="play_rps()"><i
                                        class="check icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="center aligned column">
                                <button class="ui disabled button"> Rock</button>
                                <button class="ui disabled button"> Paper</button>
                                <button class="ui disabled button"> Scissors</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="left aligned column">
                                <button class="ui primary disabled loading button" id="btn-shoot-opp"><i
                                        class="check icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui two columns grid">
            <div class="left aligned column">
                <button class="ui black deny button">
                    resign
                </button>
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0">
                    <label>Yes, I'm sure</a></label>
                </div>
            </div>
            <div class="ui right aligned column">
               <text style="font-size: smaller; color: grey" id="rps-info"></text>
            </div>
        </div>
    </div>
</div>


<div id="modal-RPS-proto" class="ui large modal">
    <i class="close icon"></i>
    <div class="header">
        <div class="ui grid">
            <div class="three wide column">
                <img src="avatar/elliot" alt="">
                <text>&nbsp; alex</text>
            </div>

            <div class="center aligned ten wide column">

                <button class="ui circular huge green icon button">
                </button>
                <button class="ui circular huge black basic icon button">
                </button>
                <button class="ui circular  huge black basic icon button">
                    <i class="icon trophy"></i>
                </button>
                <button class="ui circular huge red  icon button">
                </button>
                <button class="ui circular huge red icon button">
                </button>

            </div>

            <div class="right aligned three wide column">
                <text>martha &nbsp;</text>
                <img src="avatar/jenny" alt="">
            </div>
        </div>
    </div>

    <div class="content">
        <div class="ui two columns divided grid">
            <div class="row">
                <div class="column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="center aligned column">
                                <button class="ui toggle button"> Rock</button>
                                <button class="ui toggle button"> Paper</button>
                                <button class="ui toggle button"> Scissors</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right aligned column">
                                <button class="ui primary button"> Shoot</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="center aligned column">
                                <button class="ui disabled button"> Rock</button>
                                <button class="ui disabled button"> Paper</button>
                                <button class="ui disabled button"> Scissors</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="left aligned column">
                                <button class="ui primary disabled button"> Shoot</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui left aligned container">
            <button class="ui black deny button">
                resign
            </button>
            <div class="ui checkbox" id="div-resign-checkbox">
                <input type="checkbox" tabindex="0" id="input-resign">
                <label id="text-resign">Yes, I'm sure</a></label>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard %}